body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,ul,li,p,h1,h2 {
    margin:0;
    padding:0;
}


.background {
    width:100%;
    height:100%;
    position: absolute;
    background-color:#e5e5e5;
}


.container {
    margin-top:100px;
    width:800px;
    margin-left:auto;
    margin-right:auto;

    background-color:#fff;
    color:#282828;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    padding:30px;
}

.header {
    background-color:#e96e50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    padding:30px;
}

.header h1 {
    color:#ffffff;
    font-size:50px;
    font-weight: 700;
}

/*-------------------------------------
------------- CITY NAME ---------------
--------------------------------------*/
.city {
    display: flex;
    flex-direction: column;
    
    padding-bottom:20px;
    border-bottom:1px solid #e5e5e5;
}

.name {
    display: flex;
    align-items: center;
}

#city-name {
    font-size:40px;
    font-weight: 700;
}

.city-coord {
    display: flex;
    margin-left:48px;

    font-size:16px;
    color: #787878;
}

.city-coord  p:first-child {
    margin-right:15px;
}

/*-------------------------------------
------------- WEATHER -----------------
---------------------------------------*/

.weather {
    display: flex;
    padding-top:20px;
}

.weather-temp {
    display: flex;
    flex-direction: column;
    flex:1;
    border-right:1px solid #e5e5e5;
    padding-left:20px;
}

.weather-temp h2 {
    font-size:60px;
    font-weight: 700;
}

.temp-ressentie {
    font-size:16px;
    color: #787878;
}

.wind {
    margin-top:20px;
    display: flex;
}

.wind-speed {
    margin-left:10px;
    font-size:20px;
}

.weather-img {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#weather-title {
    font-size:28px;
}

